<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link href="/static/CSS/registration.css" rel="stylesheet">
</head>
<body>
    <div id="registration-div">
        <form>
            <h1>Регистрация</h1>
            
            <label>Имя</label>
            <input required id="first-name">
            
            <label>Фамилия</label>
            <input required id="last-name">
            
            <label>Отчество</label>
            <input required id="middle-name">
            
            <label>Дата рождения</label>
            <input required type="date" id="birth-date">
            
            <label>Пароль</label>
            <input required type="password" id="user-password">
            
            <label>Подтвердите пароль</label>
            <input required type="password" id="confirm-password">
            
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <script src="/static/js/registration.js"></script>
</body>
</html>
